/* Text Elements */

h1.heading-1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h1 span.heading-text-1 {
  color: #df8827;
  font-weight: 700;
}

h4 span.heading-text-2 {
  font-weight: 700;
  font-family: 'Open Sans', cursive;
}

h4.heading-2 {
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

p.paragraph.paragraph-1 {
  text-align: left;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* Layout Elements */

body.body-1 {
  background-color: #000;
}

.container-grid.main-con {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding: 20px;
  min-height: 500px;
  text-align: center;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container-grid.header-con {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, .4);
}

.container-grid.bio-con {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  min-height: 300px;
  max-width: 600px;
  width: 100%;
  background-color: rgba(255, 255, 255, .49);

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}