/* Text Elements */

h1.heading-1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h1 span.heading-text-1 {
  color: #df8827;
  font-weight: 700;
}

h1 span.heading-text-3 {
  color: #df8827;
}

p.paragraph.paragraph-2 {
  text-align: left;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

span.text-element.sub-head {
  color: #6d6f70;
  text-align: center;
  font-size: 15px;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a.link-text.text-link-1 {
  color: #df8827;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a.link-text.text-link-1:hover {
  color: #fff;
  text-decoration: none;
}

/* Layout Elements */

body.body-1 {
  background-color: #000;
}

.container-grid.main-con {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding: 20px;
  min-height: 500px;
  text-align: center;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container-grid.header-con {
  position: relative;
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, .4);
}

.container-grid.card {
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  border-style: none;
  border-color: transparent;
  border-radius: 0;
  background-color: transparent;
}

.container-grid.card-block {
  padding: 30px 40px 20px;
}

.container-grid.container-1 {
  max-width: 800px;
  width: 100%;
  background-color: transparent;
}

.container-grid.card-header {
  border-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: transparent;
}

div.responsive-video.video-platform-1 {
  margin-bottom: 10px;
  width: auto;
}

div.responsive-video.video-platform-2 {
  margin-bottom: 10px;
}

.container-grid.collapse {
  border-color: transparent;
  background-color: rgba(255, 255, 255, .5);
}

a.responsive-picture.photo-album {
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  max-width: 800px;
}

.container-grid.social-con {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1200px;
  width: 100%;

  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

a.responsive-picture.social-icon {
  margin-right: 8px;
  margin-left: 8px;
  max-width: 38px;
}

.container-grid.container-2 {
  padding: .75rem 1.25rem;
  max-width: 800px;
  width: 100%;
}